# Local Files
config/*
old/

# Python
__pycache__/
*.pyc

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# AWS
function.zip

# Node Modules (se aplicável)
node_modules/

# Logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs e Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace